<!doctype html>
<html data-framework="vue">

<head>
    <meta charset="utf-8">
    <title>TodoAPP</title>

    <link rel="stylesheet" href="public/style/base.css">
    <link rel="stylesheet" href="public/style/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="public/javascript/index.js"></script>
    <script>
        $(document).ready(function () {
            var nextPage = 0;
            var prePage = 2;
            $("#previous").on("click", function (e) {
                e.preventDefault();

                $(this).css("color", "red")
                $("#next").css("color", "blue")

                if ($("#search").val() != "") {
                    let totalPagesSearch = Math.ceil(lengthPage / 2)
                    pageSearch = pageSearch - 1;
                    nextPage = pageSearch + 1;
                    prePage = pageSearch - 1;
                    if (nextPage > totalPagesSearch) pageSearch = totalPagesSearch;
                    else if (prePage < 1) pageSearch = 1
                    search(pageSearch)
                }
                else {
                    let totalPages = Math.ceil(lengthGlobal / 5)
                    page = page - 1;
                    nextPage = page + 1;
                    prePage = page - 1;
                    if (nextPage > totalPages) page = totalPages;
                    else if (prePage < 1) page = 1;
                    getTitleLimit(page);
                }
            })
            $("#next").on("click", function (e) {
                e.preventDefault();
                $(this).css("color", "red")
                $("#previous").css("color", "blue")
                if ($("#search").val() != "") {
                    let totalPagesSearch = Math.ceil(lengthPage / 2)
                    pageSearch = pageSearch + 1;
                    nextPage = pageSearch + 1;
                    prePage = pageSearch - 1;
                    if (nextPage > totalPagesSearch) pageSearch = totalPagesSearch;
                    else if (prePage < 1) pageSearch = 1
                    search(pageSearch)
                }
                else {
                    let totalPages = Math.ceil(lengthGlobal / 5)
                    page = page + 1;
                    nextPage = page + 1;
                    prePage = page - 1;
                    if (nextPage > totalPages) page = totalPages;
                    else if (prePage < 1) page = 1;
                    getTitleLimit(page);
                }
            })
        })

        function setPage() {
            if ($("#search").val() != "") {
                console.log("page search: ", pageSearch)
                if (lengthPage % 2 == 0 && lengthPage != 0) {
                    console.log("12345678")
                    doSearch()
                    search(pageSearch/2)
                }
                else{
                    doSearch()
                    search(1)
                }
            } else {
                if (lengthGlobal % 5 == 0 && lengthGlobal != 0) {
                    getTitleLimit(lengthGlobal / 5)
                }
            }
        }
    </script>
</head>

<body>
    <div id="padding"></div>

    <section class="todoapp">
        <header class="header">
            <h1>todos</h1>
            <div class="search">
                <input type="text" id="search" placeholder="search"
                    style="width: 200px; height: 30px; font-size: 20px; padding: 5px">
            </div>
            <!-- <div class="pagination">
                <a href="#" id="previous">Previous</a>
                <a href="#" id="next">Next</a>
            </div> -->
            <form>
                <input class="new-todo" autofocus autocomplete="off" placeholder="What needs to be done?">
            </form>
        </header>

        <section class="main">
            <input id="toggle-all" class="toggle-all" type="checkbox">
            <label for="toggle-all">Mark all as complete</label>
            <ul class="todo-list">
                <!-- <li class="todo"> -->
                <!-- <div class="view">
                        <input class="toggle" type="checkbox">
                        <label>{{todo.title}}</label>
                        <button class="destroy"></button>
                    </div>
                    <input class="edit" type="text"> -->
                <!-- </li> -->
            </ul>
        </section>
        <footer class="footer">
            <p style="float: left; margin-top: -5px" class="count"></p>
            <ul class="filters">
                <li><a href="#/all" class="all">All</a></li>
                <li><a href="#/active" class="active">Active</a></li>
                <li><a href="#/completed" class="completed">Completed</a></li>
            </ul>
            <button class="clear-completed">
                Clear completed
            </button>
        </footer>
    </section>
    <nav>
        <ul class="pagination">
            <li class="page-item"><a class="page-link" id="previous" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#" id="next">Next</a></li>
        </ul>

    </nav>


</body>

</html>